<div class="cont-<%= message.user%>">
    <div class="message-box msg-<%= message.user%>">
    <div><%= message.body%></div>
    
    <small class="message-info mt-2">
        <strong><%= message.user%></strong> - <%= message.created_at%>    
    </small>
    
    </div>
</div>